.Home {
  .lander {
    color: black;
    opacity: 0.9;
  }
}

.top-margin {
  margin-top: 90px;
}

.card-header {
  background-color: #00bcd4;
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.center-img {
  margin: -230px;
}
