.t-fixed-footer {
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 10;
  width: 510px;
  height: 36px;
  line-height: 36px;
  bottom: 0;
  overflow: hidden;
  background: #27c3d9;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}
