.bg-custom {
  background-color: #00bcd4;
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

nav {
  .a-style {
    color: #fff;
    padding-right: 10px;
  }
  ul {
    li {
      padding: 0 5px;
      cursor: pointer;

      .dropdown-toggle::after {
        border-top: 0.8em solid;
        border-right: 0.6em solid transparent;
        border-left: 0.6em solid transparent;
      }
    }
  }
}
